<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" 
        path="*" verb="*"
        modules="FastCgiModule" 
        scriptProcessor="C:\inetpub\wwwroot\stemmons-person-viewer\venv\Scripts\python.exe|C:\inetpub\wwwroot\stemmons-person-viewer\venv\Lib\site-packages\wfastcgi.py"
        resourceType="Unspecified" 
        requireAccess="Script" />

    </handlers>
        <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <!-- may change wsgi_handler to 'app' -->
    <add key="WSGI_HANDLER" value="router.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\stemmons-person-viewer" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\stemmons-person-viewer\app.log" />
  </appSettings>
</configuration>   